body {
	font-family: Arial, sans-serif;
}

.container {
	margin: 20px auto;
	padding: 10px;
	max-width: 600px;
}

header {
	text-align: center;
}

h1 {
	font-size: 36px;
	margin: 0;
}

.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	margin-top: 20px;
}

.image img {
	max-width: 100%;
}

.quote {
	background-color: #f2f2f2;
	padding: 20px;
}

blockquote {
	font-size: 24px;
	margin: 0;
}

.quote p {
	font-size: 18px;
	text-align: right;
	margin: 0;
}

.description {
	text-align: justify;
}

footer {
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
	color: #999;
}
